.player-area {
  align-self: center;

  .card-set {
    max-width: 80%;
    margin: auto;
    justify-content: center;
  }

  &.left {
    .player-info {
      text-align: right;
    }
    .card-set {
      padding-bottom: 50%;
      transform: rotate(90deg);
    }
  }

  &.right .card-set {
    padding-top: 50%;
    transform: rotate(90deg);
  }

  &.bottom {
    padding-right: 25%;
    padding-left: 25%;
  }
}
