.game {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;

  .deal-area {
    order: 1;
    flex-basis: 25%;
  }
  .player-area.top {
    order: 2;
    flex-basis: 50%;
    padding-top: 10%;
  }
  .control-area {
    order: 3;
    flex-basis: 25%;
  }
  .player-area.left {
    flex-basis: 25%;
    order: 4;
  }
  .table {
    order: 5;
    flex-basis: 50%;
  }
  .player-area.right {
    flex-basis: 25%;
    order: 6;
  }
  .player-area.bottom {
    flex-basis: 100%;
    order: 7;
  }
}
